<div class="alert alert-warning">
	<div class = "row">
        <h5 class = "text-center">
            <% if @question.question_type == "MC" %>
                Choose the best option
            <% else %>
                Enter your answer in the box
            <% end %>
        </h5>
    </div>
</div>

<div class="row">
            
            <div class="col-md-6">
                <p>
                    <%= @question.prompt %>
                </p>

                <p class = "text-center">

                	<% if @question.supplement == "" %>
                	<% else %>
                		<img src = "<%= @question.supplement %>" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;">
                	<% end %>

                	<% if @question.image == "" %>
                	<% else %>
                		<img src = "<%= @question.image %>" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;">
                	<% end %>
                    
                </p>

            </div>
            <!-- end of span6 -->


            <div class="col-md-5 col-md-offset-1">

                <!-- Is it a multiple choice (MC) or free response (FR) question? -->
                <% if @question.question_type == "MC" %>

                    <% if @order == 1 %> 
                        <p >
                            <%= radio_button_tag(:optionsRadios, "#{@question.correct_response}") %>
                            <span class="glyphicon glyphicon-ok" style = "color: #5cb85c;"></span>
                            <%= label_tag(:multiplechoice_correct, "#{@question.correct_response}") %>
                        </p>
                    <% end %>
                    <p>
                    
                    <%= radio_button_tag(:optionsRadios, "#{@question.incorrect_one}") %>
                    <% if @student_response == @question.incorrect_one %>
                        <span class="glyphicon glyphicon-remove" style = "color: #d9534f;"></span>
                    <% end %>
                    <%= label_tag(:multiplechoice_incorrect1, "#{@question.incorrect_one}") %>
                    
                    <% if @order == 2 %> 
                        <p >
                            <%= radio_button_tag(:optionsRadios, "#{@question.correct_response}") %>
                            <span class="glyphicon glyphicon-ok" style = "color: #5cb85c;"></span>
                            <%= label_tag(:multiplechoice_correct, "#{@question.correct_response}") %>
                        </p>
                    <% end %>
                    <p>

                    <%= radio_button_tag(:optionsRadios, "#{@question.incorrect_two}") %>
                    <% if @student_response == @question.incorrect_two %>
                        <span class="glyphicon glyphicon-remove" style = "color: #d9534f;"></span>
                    <% end %>
                    <%= label_tag(:multiplechoice_incorrect2, "#{@question.incorrect_two}") %>
                    
                    <% if @order == 3 %> 
                        <p >
                            <%= radio_button_tag(:optionsRadios, "#{@question.correct_response}") %>
                            <span class="glyphicon glyphicon-ok" style = "color: #5cb85c;"></span>
                            <%= label_tag(:multiplechoice_correct, "#{@question.correct_response}") %>
                        </p>
                    <% end %>

                    <p>
                    
                    <%= radio_button_tag(:optionsRadios, "#{@question.incorrect_three}") %>
                    <% if @student_response == @question.incorrect_three %>
                        <span class="glyphicon glyphicon-remove" style = "color: #d9534f;"></span>
                    <% end %>
                    <%= label_tag(:multiplechoice_incorrect3, "#{@question.incorrect_three}") %>
                    
                    <% if @order == 4 %>
                        <p >
                            <%= radio_button_tag(:optionsRadios, "#{@question.correct_response}") %>
                            <span class="glyphicon glyphicon-ok" style = "color: #5cb85c;"></span>
                            <%= label_tag(:multiplechoice_correct, "#{@question.correct_response}") %>
                        </p>
                    <% end %>

                <% else %>
                <!-- Not a multiple choice question -->

                    <% if @result == "Correct" %>

                        <!-- Disabled input: http://getbootstrap.com/css/ -->
                        <p>
                            <input class = "col-md-5" type="text" disabled="disabled" class="form-control" value="<%= @student_response %>" style="background-color:#C2F0C2;">
                        </p>

                        <br>
                        <p>
                            <span class="glyphicon glyphicon-ok" style = "color: #5cb85c;"></span> Correct!
                        </p>

    
                    <% else %>
                        <p>
                            <input class = "col-md-5" type="text" disabled="disabled" class="form-control" value="<%= @student_response %>" style="background-color:#FFCCCC;">
                        </p>

                        <br>
                        <p>
                            <span class="glyphicon glyphicon-remove" style = "color: #d9534f;"></span> Correct answer: <%= @question.correct_response %>
                        </p>
                    <% end %>

                <% end %>

                <p>

            </div>
            <!-- end of span5 answer choices -->

</div>
<!-- end of row -->

        <div class = "row text-right" style = "margin-top:30px";>
            <div class="col-md-12">
                
                <% if @is_there_next_question == "No" %>
                <a href = "/review/<%= @session %>" type="button" class="btn btn-success">
                    End session and see results
                </a>                
                <% else %>
                <a href = "/session/<%= @session %>/question/<%= @next_question %>" type="button" class="btn btn-success">
                    Next question
                </a>
                <% end %>
            </div>
        </div>

<div class="alert alert-info" style = "margin-top:30px";>
    <div class = "row">
        
        <div class="col-md-4 text-center">                    
            <strong>
                Title
            </strong>
            
            <p>
                <%= @question.title %>
            </p>
        </div>

        <div class="col-md-4 text-center">                    
            <strong>
                Your result
            </strong>
            
            <p>
                <% if @result == "Correct" %>
                    <p style = "color: #5cb85c;"> 
                        <strong><%= @result %></strong>
                    </p>
                <% else %>
                    <p style = "color: #d9534f;"> 
                        <span class="glyphicon glyphicon-remove"></span>
                        &nbsp; <strong><%= @result %></strong>
                    </p>
                <% end %>
                

            </p>
        </div>

        <div class="col-md-4 text-center">                    
            <strong>
                Difficulty
            </strong>
            
            <p>
                <%= @question.difficulty %>
            </p>
        </div>

    </div>
</div>
<!-- end of question desc well -->

<div class = "row" >
    <div class="col-md-6">
        <h4>Video Explanation</h4>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= @question.video_explanation %>" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-6">
        <h4>Related Lesson(s)</h4>

                <% @lessons.each do |lesson| %>
                    <p>
                   <div class="media">
                  <a class="pull-left thumbnail" href="/lessons/<%= lesson.id %>">
                    <img src="<%= lesson.thumbnail %>" style="width: 80px; height: 60px;">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">
                        <a href = "/lessons/<%= lesson.id %>">
                            <%= lesson.title %>
                        </a>
                             &nbsp; <span class="glyphicon glyphicon-ok"></h5>
                        <p><h6><%= lesson.length %></h6></p>
                  </div>
                </div>
                </p>
                <% end %>

    </div>
</div>
<!-- end of row -->


        <div class = "row">
            <div class="col-md-12">
                <h4>Text Explanation</h4>
                <img src = "http://podcast.iu.edu/upload/IUSEUITS/images/300x300.gif" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;">
                
            </div>
        </div>

         <div class = "row text-right" style = "margin-top:30px";>
            <div class="col-md-12">
                <% if @is_there_next_question == "No" %>
                <a href = "/<%= @session %>" type="button" class="btn btn-success">
                    End session and see results
                </a>                
                <% else %>
                <a href = "/session/<%= @session %>/question/<%= @next_question %>" type="button" class="btn btn-success">
                    Next question
                </a>
                <% end %>
            </div>
        </div>

        <div class = "row">
             &nbsp;
        </div>