<% content_for :title do %> - Dashboard <% end %>
<% content_for :dashboard_active do %> class = "active" <% end %>

<div class = "row">
    <div class="col-md-12">
        <h3>
            Dashboard
        </h3>
    </div>
</div>


<div class="row">
            
    <div class="col-md-4">
        <h4>
            First 10 Lessons <small> <%= link_to "Go to all lessons", lessons_path %></small><hr>
        </h4>

        <% @lessons.each do |lesson| %>
            <p>
                <a href = "/lessons/<%= lesson.id %>"><%= lesson.title %></a>
                &nbsp;<small><%= lesson.length %></small>
                <!-- &nbsp;<span class="glyphicon glyphicon-ok"></span> -->
            </p>

        <% end %>

        <%= link_to "Go to all lessons", lessons_path , :class => "btn btn-success" %>
        

    </div>
    <!-- end of span4 suggested lessons-->


    <div class="col-md-8">
        <h4>
            Practice <hr>
        </h4>

        <p class = "text-center">
            <a href = "/custom_practice" type="button" class="btn btn-success">Customize Practice Session</a>

            <br>

        </p>

        <h4>
            Results<hr>
        </h4>
        <p>
            

            <% if @answers.count != 0 %>
                You answered <%= @correct %>/<%= @total %> questions correct (<%= @percent_correct %>%). <a href = "/review/all">See detailed results.</a>
            <% else %>
                You haven't answered any questions yet!
            <% end %>

            <br><br>
        </p>

        <!-- Notes module -->
        <!-- <h4>
            Notes<hr>
        </h4>
        You have 4 notes. <a href = "#">View them.</a> -->


        


    </div>
    <!-- end of span8 quick practice -->

</div>
<!-- end of row -->