<%= form_for(@topic) do |f| %>


<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :topic_slug %><br />
    <%= f.text_field :topic_slug %>
</p>

<p>
    <%= f.label :topic_order %><br />
    <%= f.text_field :topic_order %>
</p>



<%= f.submit %>

<% end %>