<a href ="/admin"><- Back to Admin </a>

<h3>Topics <small><%= link_to "Add new topic", new_topic_path %></small></h3>

	<table class="table">
	<thead>
		<th>Topic ID</th>
		<th>Topic Order</th>
		<th>Topic Name</th>
		<th>Edit</th>
		<td>Delete</th>
	</thead>

	<tbody>

		<% @topics.each do |topic| %>
			
			<tr>
				<td>
					<%= topic.id %>
				</td>

				<td>
					<%= topic.topic_order %>
				</td>
				
				<td>
					<%= topic.name %>
				</td>

				<td>
					  <%= link_to "Edit topic", edit_topic_path(topic) %>
				</td>

				<td>
					<a data-confirm="Are you sure?" data-method="delete" href="/topics/<%= topic.id%>" rel="nofollow">Delete</a>
				</td>

			</tr>
		<% end %>

	</tbody>

</table>
