<%= form_for(@lesson) do |f| %>


<p>
    <%= f.label :lesson_order %><br />
    <%= f.text_field :lesson_order %>
</p>


<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
</p>


<p>
    <%= f.label :platform %><br />
    <%= f.text_field :platform %>
</p>

<p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
</p>

<p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
</p>

<p>
    <%= f.label :nextlesson %> (lesson_id of next lesson)<br />
    <%= f.text_field :nextlesson %>
</p>

<p>
    <%= f.label :thumbnail %><br />
    <%= f.text_field :thumbnail %>
</p>

<p>
    <%= f.label :related %><br />
    <%= f.text_area :related %>
</p>

<p>
    <%= f.label :topic_id %> (topic_id)<br />
    <%= f.text_field :topic_id %>
</p>




<%= f.submit %>

<% end %>