<% content_for :title do %> - Lessons <% end %>
<% content_for :lessons_active do %> class = "active" <% end %>

<div class = "row">
        <div class="col-md-12">
            <h3>
                Lessons
            </h3>
        </div>
    </div>

<div class = "row">
    <center>
        <div class="col-md-6 col-md-offset-3">

                <% @lessons.each do |lesson| %>
               
         
                    <div class="media ">
                        
                        <!-- thumbnail -->
                        <a class="pull-left thumbnail" href="/lessons/<%= lesson.id %>">
                            <img src="<%= lesson.thumbnail %>" style="width: 160px; height: 120px;">
                        </a>
                        <!-- end of thumbnail -->

                        <div class="media-body">
                            
                            <h3 class="media-heading">
                                <a href = "/lessons/<%= lesson.id %>">
                                    <%= lesson.title %>
                                </a>    
                                
                                <!-- Check whether student has watched the video -->
                                <% if @lesson_understand.include? lesson.id %>
                                    <span class="glyphicon glyphicon-ok">
                                <% end %>
                             </h3>
                            
                            <p>
                                <h3>
                                    <small><%= lesson.length %></small>
                                </h3>
                            </p>
                        
                        </div>
                        <!-- end of div media-body -->
                    
                    </div>
                    <!-- end of div media -->

                    <hr>
                
                <% end %>

                <%= will_paginate @lessons %>

            
        </div>
        <!-- end of div col 6 offset 3  -->

    </center>
</div>
<!-- end of div row -->